/* Add your styling here: */
body {
    text-align: center;
    background-color: green;
}

#profile{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

#profile div {
    display: flex;
    border: 5px solid purple;
    width: 400px;
    margin: 5px;
}